{# component/_navebar.html.twig #}

<nav>
        <ul>
                <li class="discovering">
                    <strong>Discovering Pico</strong>
                </li>
            </ul>
            <ul>
                <li><a class="home" href="#">Home</a></li>
                <li><a class="about" href="#">About</a></li>
                <li>
                    <details role="list" dir="rtl">
                        <summary aria-haspopup="listbox" role="link" class="contrast" >Categories</summary>
                        <ul role="listbox" class="listbox">
                            <li><a href="#" data-theme-switcher="photos">Photos</a></li>
                            <li><a href="#" data-theme-switcher="articles">Articles</a></li>
                            <li><a href="#" data-theme-switcher="projects">Projects</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </nav>